---
if (!Astro.locals.session) return Astro.redirect("/login");
const role = Astro.locals.user?.role;

import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import { Image } from "astro:assets";
import { db } from "astro:db";
import { Pasteles } from "astro:db";

const pasteles = await db.select().from(Pasteles);
---

<Layout
  title="La Postre Shop"
  description="Ordena un pastel y recogelo en tu sucursal de La Postre de preferencia."
>
  <Section tag="header">
    <div>
      <h1 class="inline text-2xl capitalize">
        Hola {Astro.locals.user?.name}
        <span>👋</span>
      </h1>
      {
        role === "admin" && (
          <span class="ml-2 inline rounded-sm border border-brand bg-brand bg-opacity-15 px-2 pb-[2px] pt-1 text-xs text-brand-2">
            Admin
          </span>
        )
      }
      <p class="mt-2">
        Realiza tu pedido y recogelo en tu sucursal de preferencia.
      </p>
    </div>
    <ul class="mt-8 grid grid-cols-4 gap-4">
      {
        pasteles.map((pastel) => (
          <li class="flex flex-col">
            <Image
              src={pastel.image}
              alt={pastel.name}
              width={320}
              height={320}
              class="aspect-square overflow-clip rounded-md object-cover"
            />
            <h3 class="mb-1 mt-3 text-xl capitalize">{pastel.name}</h3>
            <p class="text-xs opacity-60">{pastel.description}</p>
          </li>
        ))
      }
    </ul>
  </Section>
</Layout>
