---
type Props = {
  id?: string;
  href?: string;
};

const { id, href } = Astro.props;
const classes =
  "rounded-sm border border-light border-opacity-25 bg-light bg-opacity-5 px-4 pb-2 pt-[10px] transition duration-75 ease-out hover:border-brand hover:border-opacity-50 hover:bg-brand hover:bg-opacity-15 hover:text-brand-2 focus:outline-brand";
---

{
  href ? (
    <a href={href} class={classes} id={id}>
      <slot />
    </a>
  ) : (
    <button id={id} class={classes}>
      <slot />
    </button>
  )
}
